__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# Raw/private datasets
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.zip

# Generated data
data/processed/*.csv

# Python cache
.pytest_cache/
.DS_Store
